.home{
  background-color: $first-color;
}
.about{
  background-color: $second-color;
}
.blog{
  background-color: $third-color;
}

.container {
  height: 700px;
  width: $site-width;
  margin: 0 auto;
}